/* ========= */
/* NORMALIZE */
/* ========= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ======= */
/* GENERAL */
/* ======= */

html,
body {
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  width: min(85vw, 1200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
}

button {
  padding: 0.25rem 0.5rem;
}

/* ================ */
/* USER PREFERENCES */
/* ================ */

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 1ms !important;
    scroll-behavior: auto !important;
  }
}

/* ====== */
/* HEADER */
/* ====== */

header, footer {
  margin: 2rem 0;
}

/* ==== */
/* MAIN */
/* ==== */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

/* ---- */
/* FORM */
/* ---- */

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

input {
  padding: 0.25rem 0.5rem;
}

/* ------- */
/* SECTION */
/* ------- */

#labels {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 5fr;
  margin: 2rem 0rem;
  position: relative;
}

#label-names, #label-configs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 0;
}

#label-names {
  grid-column: 1 / 2;
  align-items: center;
}

#label-configs {
  grid-column: 2 / 3;
  color: #ccc;
  background-color: #333;
  border-radius: 20px;
}

.label-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-name-container, .label-config-container {
  padding: 1rem 2rem;
  height: 15ch;
}

.label-name {
  color: var(--clr);
  border: 1px solid var(--clr);
  border-radius: 2ch;
  padding: 0.25rem 0.5rem;
}

#copy-to-clipboard {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ccc;
  gap: 1rem;
}

/* ====== */
/* FOOTER */
/* ====== */
