/* ========= */
/* NORMALIZE */
/* ========= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ========= */
/* VARIABLES */
/* ========= */

:root {
  --clr-background: #ccc;
  --clr-foreground: #333;
  --clr-gradient-1: rgba(131, 58, 180, 1);
  --clr-gradient-2: rgba(253, 29, 29, 1);
  --clr-gradient-3: rgba(252, 176, 69, 1);
  --clr-shadow: rgba(0, 0, 0, 0.33);
  --sdw-background: 0 0 5px 5px var(--clr-shadow);
  --grd-background: linear-gradient(90deg, var(--clr-gradient-1) 0%, var(--clr-gradient-2) 50%, var(--clr-gradient-3) 100%);
}

/* ======= */
/* GENERAL */
/* ======= */

html,
body {
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  width: min(85vw, 1200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
}

button {
  padding: 0.25rem 0.5rem;
}

/* ================ */
/* USER PREFERENCES */
/* ================ */

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 1ms !important;
    scroll-behavior: auto !important;
  }
}

/* ======= */
/* UTILITY */
/* ======= */

.error {
  color: red;
}

.loading {
  width: 100%;
  flex: 1;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  animation: spin 1s infinite forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



/* ====== */
/* HEADER */
/* ====== */

header {
  font-size: 3vw;
  position: relative;
  margin: 1rem 0 4rem 0;
  color: whitesmoke;
}

header::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -94.5%);
  width: 125vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--clr-gradient-1);
  background: var(--grd-background);
  opacity: 0.67;
  z-index: -1;
  box-shadow: inset var(--sdw-background);
  animation: header-spin 10s forwards infinite;
}

@keyframes header-spin {
  from {
    transform: translate(-50%, -94.5%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -94.5%) rotate(360deg);
  }
}

/* ==== */
/* MAIN */
/* ==== */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  gap: 1rem;
  margin: 1rem;
}

/* ---- */
/* FORM */
/* ---- */

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

input {
  padding: 0.25rem 0.5rem;
}

#error {
  transform: translateY(-50%);
  transition: transform 250ms;
}

/* ------- */
/* SECTION */
/* ------- */

#labels {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 5fr;
  margin: 2rem 0rem;
  padding: 0 1rem;
  position: relative;
}

#label-names,
#label-configs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 0;
}

#label-names {
  grid-column: 1 / 2;
  align-items: center;
}

#label-configs {
  grid-column: 2 / 3;
  color: var(--clr-background);
  background-color: var(--clr-foreground);
  border-radius: 20px;
  box-shadow: var(--sdw-background);
}

.label-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-name-container,
.label-config-container {
  padding: 1rem 2rem;
  height: 15ch;
}

.label-name {
  color: var(--clr);
  border: 1px solid var(--clr);
  border-radius: 2ch;
  padding: 0.25rem 0.5rem;
}

#copy-to-clipboard {
  position: absolute;
  top: 1rem;
  right: 2.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--clr-background);
  gap: 1rem;
}

/* ====== */
/* FOOTER */
/* ====== */

footer {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 3rem 0;
}